@charset "utf-8";

 {
    font-family:arial
    
}

body{
   background-image: linear-gradient(to left, #233B2B,#B2C6B8 );
}
main{
    background-color: white ;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0d3a1cb7;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#518763 ;
    text-align: center;
    text-shadow: 1px 1px 2px #20272386 ;
}
h2{
    color:#34754a ;
}
p{
    text-align: justify;
}